<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-luisnegronnaldos/blob/main/A01793865_Luis_Negron_Semana1%2C2%2C3_y_4_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Nombre: Luis Alfredo Negron Naldos

Matricula: A01793865

Curso: Ciencias y Anal√≠tica de Datos

Profesor: Jobish Vallikavungal Devassia

## **MODULO 1**

In [ ]:
print("Hello World")

Hello World

In [ ]:
print(int("1"))
print(bool("1"))

1
True

In [ ]:
Letters="ABCDEFGHIJK"
Letters[0:4]

'ABCD'

In [ ]:
Good="GsoAo+d"
Good[::2]

'Good'

In [ ]:
"uppercase"
"uppercase".upper()

'UPPERCASE'

In [ ]:
Name = "Michael Jackson"
Name = Name + "is the best"

In [ ]:
Name

'Michael Jacksonis the best'

In [ ]:
print ("Michael Jackson \n is the best")

Michael Jackson
 is the best

In [ ]:
print ("Michael Jackson \t is the best")

Michael Jackson 	 is the best

In [ ]:
A = "Thriller is the best"
B = A.replace ("Thriller", "Michael")
B

'Michael is the best'

In [ ]:
'1' + '2'

'12'

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("Hello\nWorld")

Hello
World

In [ ]:
# this is a comment

In [ ]:
type("Hello World")

str

In [ ]:
type("1.1")

str

In [ ]:
print(int("1"))
print(bool("1"))

1
True

## **MODULO 2**

In [ ]:
Ratings = (10, 9, 8 , 7, 5, 7, 6, 8 ,9)

In [ ]:
tuple1 = ( "disco", 10, 1.2)
tuple1[1]

10

In [ ]:
tuple1 = ( "disco", 10, 1.2)
tuple1[-2]

10

In [ ]:
tuple2= ("disco", 10, 1.2, "hard rock", 10)
tuple2[0:3]

('disco', 10, 1.2)

In [ ]:
ratings1 = Ratings

In [ ]:
ratingsorted = sorted(Ratings)
ratingsorted

[5, 6, 7, 7, 8, 8, 9, 9, 10]

In [ ]:
NT = (1,2,("pop", "rock"), (3,4), ("disco", 2, 3))
NT[2][1]

'rock'

In [ ]:
list = ["michael jackson", 10.2, 1982,2,3,4]
list[0]
list[3:5]

[2, 3]

In [ ]:
L= list + [3, 4]
L

['michael jackson', 10.2, 1982, 2, 3, 4, 3, 4]

In [ ]:
L.extend([10,20])
L

['michael jackson', 10.2, 1982, 2, 3, 4, 3, 4, 10, 20]

In [ ]:
A=["disco", 10, 1.2]
A[0] = "hard rock"
A

['hard rock', 10, 1.2]

In [ ]:
del(A[0])
A

[10, 1.2]

In [ ]:
B= A
B

[10, 1.2]

In [ ]:
B[0]= "banana"
A

['banana', 1.2]

In [ ]:
set= {"pop", "rock", "salsa", "pop", "metal", "pop", "salsa"}
set

{'metal', 'pop', 'rock', 'salsa'}

In [ ]:
A={"thriller", "Black in back", "AC/DC"}
A.add("NYNC")
A

{'AC/DC', 'Black in back', 'NYNC', 'thriller'}

In [ ]:
A.remove("AC/DC")
A

{'Black in back', 'NYNC', 'thriller'}

In [ ]:
"Who" in A

False

In [ ]:
B ={"NYNC", 5, "thriller"}
set3 = A&B
set3

{'NYNC', 'thriller'}

In [ ]:
dict = {"thriller":1982, "Back in Black":1980, "Thew dark side of the moon": 1973, "the bodyguard": 1992}
dict

{'thriller': 1982,
 'Back in Black': 1980,
 'Thew dark side of the moon': 1973,
 'the bodyguard': 1992}

In [ ]:
dict["thriller"]

1982

In [ ]:
dict['peru']='2020'
dict

{'Back in Black': 1980,
 'Thew dark side of the moon': 1973,
 'the bodyguard': 1992,
 'peru': '2020'}

In [ ]:
del(dict['thriller'])
dict

{'Back in Black': 1980,
 'Thew dark side of the moon': 1973,
 'the bodyguard': 1992}

## MODULO 3

In [ ]:
a= 6
a==7

False

In [ ]:
a>5

True

In [ ]:
a<6

False

In [ ]:
a!=6

False

In [ ]:
age = 17
if (age>18):
  print("Entra al concierto")
print ("No entra al concierto")

No entra al concierto

In [ ]:
age = 17
if (age>18):
  print("Entra al concierto")
else:
  print("se va a cenar")

print ("Sigue caminando")

se va a cenar
Sigue caminando

In [ ]:
age = 18 
if (age>18):
  print("Entra al concierto")
elif(age==18):
  print("Va al otro concierto")
else:
  print("se va a cenar")

print ("Sigue caminando")

Va al otro concierto
Sigue caminando

In [ ]:
squares = ["red", "yellow","green","blue","purple"]
for i in range(0,5):
  squares[i]="black"

squares

['black', 'black', 'black', 'black', 'black']

In [ ]:
squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Antes ", i, 'es',  squares[i])
    squares[i] = 'white'
    print("Despues ", i, 'es',  squares[i])

Antes  0 es red
Despues  0 es white
Antes  1 es yellow
Despues  1 es white
Antes  2 es green
Despues  2 es white
Antes  3 es purple
Despues  3 es white
Antes  4 es blue
Despues  4 es white

In [ ]:
album_rating = [10.0, 8.5, 5.8, 7.2, 9.0, 9.5]
L= len(album_rating)
L

6

In [ ]:
dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

In [ ]:
s = sum(album_rating)
s

50.0

In [ ]:
sorted_album = sorted(album_rating)
album_rating

[10.0, 8.5, 5.8, 7.2, 9.0, 9.5]

In [ ]:
sorted_album

[5.8, 7.2, 8.5, 9.0, 9.5, 10.0]

In [ ]:
album_rating.sort()
album_rating

[5.8, 7.2, 8.5, 9.0, 9.5, 10.0]

In [ ]:
def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print(a, "Si tu agregas uno, es:", b)
    return(b)

In [ ]:
add(1)

1 Si tu agregas uno, es: 2

2

In [ ]:
add(3)

3 Si tu agregas uno, es: 4

4

In [ ]:
def Mult(a, b):
    c = a * b
    return(c)
    
result = Mult(12,2)
print(result)

24

In [ ]:
Mult(10.0, 3.14)

31.400000000000002

In [ ]:
a1 = 4
b1 = 5
c1 = a1 + b1 + 2 * a1 * b1 - 1
if(c1 < 0):
    c1 = 0 
else:
    c1 = 5
c1

5

In [ ]:
type([1,2,3])

list

In [ ]:
type("the cat is yellow")

str

In [ ]:
type(1)

int

In [ ]:
rating =[7,5,4,8,9,5,10,9,5,9]

In [ ]:
rating.sort()
rating

[4, 5, 5, 5, 7, 8, 9, 9, 9, 10]

In [ ]:
rating.reverse()
rating

[10, 9, 9, 9, 8, 7, 5, 5, 5, 4]

In [ ]:
class circle(object):
  def _init_(self,radius,color):
    self.radius = radius;
    self.color = color;

In [ ]:
class Circle(object):
    
    # Constructor
    def __init__(self, radius=3, color='blue'):
        self.radius = radius
        self.color = color 
    
    # Method
    def add_radius(self, r):
        self.radius = self.radius + r
        return(self.radius)
    
    # Method
    def drawCircle(self):
        plt.gca().add_patch(plt.Circle((0, 0), radius=self.radius, fc=self.color))
        plt.axis('scaled')
        plt.show()

##MODULO 4

**Lectura de Archivos**

In [ ]:
# tomado del laboratorio para importar el archivo de ejemplo del video
import urllib.request
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
filename = 'Example1.txt'
urllib.request.urlretrieve(url, filename)

## Download Example file
!wget -O /resources/data/Example1.txt https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt

/resources/data/Example1.txt: No such file or directory

In [ ]:
example1 = "Example1.txt"
archivo = open(example1, "r")
#se utiliza el comendo "r" para identificar que vamoa a abrir el archivo

In [ ]:
archivo.mode
#con lo extensi√≥n podemos ver en que modo esta.... sale r, porque esta en lectura...

'r'

In [ ]:
archivo.name

'Example1.txt'

In [ ]:
contenido = archivo.read()
print (contenido)

This is line 1
This is line 2
This is line 3

In [ ]:
# Otra forma de abrir los arhivos 
with open(example1, "r") as archivo:
    contenido = archivo.read()
    print(contenido)

This is line 1
This is line 2
This is line 3

In [ ]:
# En esta linea estoy verificando que el archivo ha sido cerrado
archivo.closed

True

In [ ]:
with open(example1, "r") as archivo:
    print(archivo.read(4))
    print(archivo.read(4))
    print(archivo.read(10))
    print(archivo.read(19))

This
 is
line 1
Th
is is line 2
This i

**Escritura de Archivos**

In [ ]:
# C√≥digo para abrir un archivo en modo escritura
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A") #ojo solo permite un argumento

In [ ]:
exmp2
print(exmp2)

Example2.txt

In [ ]:
#Podemos verificar si el texto se ha escrito:
with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [ ]:
exmp3 = 'Example3.txt'
with open(exmp3, 'w') as writefile:
    writefile.write("Esta es la linea A\n")
    writefile.write("Esta es la linea B\n")

In [ ]:
with open(exmp3, 'r') as testwritefile:
    print(testwritefile.read())

Esta es la linea A
Esta es la linea B

In [ ]:
Lineas = ["This is line A\n", "This is line B\n", "This is line C\n", "Agregando una", "sin espacio"]
Lineas # se ha creado una secuencia de tres lineas para escribir un archivo.

['This is line A\n',
 'This is line B\n',
 'This is line C\n',
 'Agregando una',
 'sin espacio']

In [ ]:
#Con este secuencia de comandos, verificamos lo que se ha guardado
with open('Example2.txt', 'w') as writefile:
    for line in Lineas:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

Agregando una
sin espacio

**Cargando Archivos con Panda**

In [ ]:
import pandas as pd

In [ ]:
!pip install xlrd #instalando lo recomendado por en el ambiente del laboratorio.

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)

In [ ]:
csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
df = pd.read_csv(csv_path) #cargando la base de datos del caso de estudio
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [ ]:
df.head(n=10) #cuando se usa el N=10 se muestran 10 registros en vez de 5 cuando esta en blanco

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0
5,Eagles,Their Greatest Hits (1971-1975),1976,0:43:08,"rock, soft rock, folk rock",32.2,42,17-Feb-76,NaN,7.5
6,Bee Gees,Saturday Night Fever,1977,1:15:54,disco,20.6,40,15-Nov-77,Y,7.0
7,Fleetwood Mac,Rumours,1977,0:40:01,soft rock,27.9,40,04-Feb-77,NaN,6.5

In [ ]:
x = df[['Album']]
x # de esta manera se puede ver una columna en espec√≠fico

                             Album
0                         Thriller
1                    Back in Black
2        The Dark Side of the Moon
3                    The Bodyguard
4                  Bat Out of Hell
5  Their Greatest Hits (1971-1975)
6             Saturday Night Fever
7                          Rumours

In [ ]:
x = df[['Album','Genre']]
x

                             Album                        Genre
0                         Thriller               pop, rock, R&B
1                    Back in Black                    hard rock
2        The Dark Side of the Moon             progressive rock
3                    The Bodyguard               R&B, soul, pop
4                  Bat Out of Hell  hard rock, progressive rock
5  Their Greatest Hits (1971-1975)   rock, soft rock, folk rock
6             Saturday Night Fever                        disco
7                          Rumours                    soft rock

In [ ]:
df.iloc[1,1]

'Back in Black'

In [ ]:
df.iloc[2,2] #ojo que df sige siendo la base de datos principal

1973

In [ ]:
df['Released'].unique()

array([1982, 1980, 1973, 1992, 1977, 1976])

In [ ]:
df['Released']>= 1980

0     True
1     True
2    False
3     True
4    False
5    False
6    False
7    False
Name: Released, dtype: bool

# MODULO 5

In [3]:
import numpy as np # llamando a la librer√≠a
a=[1,2,3,4,5,6,7] #creando una lista 
x = np.array(a) #generando una numpy array
x

array([1, 2, 3, 4, 5, 6, 7])

In [5]:
type(x)
#comprobamos el tipo de arreglo que tienen los datos

numpy.ndarray

In [6]:
x.mean()

4.0

In [9]:
np.median(x)
#En este estoy calculando el valor de la media y me da el mismo valor que la mediana.

4.0

In [10]:
# Crando un nuevo arreglo 
A=np.array([[11,12],[21,22],[31,32]])

In [12]:
#Podemos verificar el tipo de dato
type(A)

numpy.ndarray

In [13]:
A.shape # nos va a permitir ver la forma de la matriz A
# como se puede observar es de tres filas y dos columnas

(3, 2)

In [14]:
A

array([[11, 12],
       [21, 22],
       [31, 32]])

In [15]:
#Agregando un arreglo para poder hacer operaciones adicionales 
A=np.array([[11,12],[21,22]])
B=np.array([[1, 0],[0,1]])

In [16]:
A + B
#haciendo una suma

array([[12, 12],
       [21, 23]])

In [17]:
A-B
#probando la resta de este punto.

array([[10, 12],
       [21, 21]])

In [21]:
Z = np.dot(A,B) #generando una suma.producto
Z

array([[11, 12],
       [21, 22]])

In [23]:
#Instalando las librerias solicitadas en el ejemplo
!pip install pycoingecko
!pip install plotly
!pip install mplfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pycoingecko
  Downloading pycoingecko-3.0.0-py3-none-any.whl (8.6 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pycoingecko) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (1.24.3)
Installing collected packages: pycoingecko
Successfully installed pycoingecko-3.0.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.5.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mplfinance
  Downloading mplfinance-0.12.9b1-py3-none-any.whl (70 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 70 kB 3.9 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from mplfinance) (1.3.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from mplfinance) (3.2.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mplfinance) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mplfinance) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mplfinance) (1.4.4)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mplfinance) (1.21.6)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mplfinance) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->mplfinance) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->mplfinance) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->mplfinance) (2022.2.1)
Installing collected packages: mplfinance
Successfully installed mplfinance-0.12.9b1

In [24]:
#Una vez instalada las librerias, procedo a importar las mismas en el archivo de trabajo
import pandas as pd
import numpy as np
import plotly.graph_objects as go
from plotly.offline import plot
import matplotlib.pyplot as plt
import datetime
from pycoingecko import CoinGeckoAPI
from mplfinance.original_flavor import candlestick2_ohlc

In [25]:
#creo un archivo en pandas data.frame
dict_={'a':[11,21,31],'b':[12,22,32]}
df=pd.DataFrame(dict_)
type(df)

pandas.core.frame.DataFrame

In [26]:
df.head()
#Aqui estamos llamando a un API

    a   b
0  11  12
1  21  22
2  31  32

In [27]:
#Tambien puedo llamar un Api para calcular la media 
df.mean()

a    21.0
b    22.0
dtype: float64

In [36]:
cg = CoinGeckoAPI()

bitcoin_data = cg.get_coin_market_chart_by_id(id='bitcoin', vs_currency='usd', days=30)
#Se carga una nueva data para aplicar en el trabajo

In [37]:
type(bitcoin_data )
#se comprueba el tipo de informacion que se tien

dict

In [39]:
bitcoin_price_data = bitcoin_data['prices']

bitcoin_price_data[0:5]

[[1662346941176, 19862.157764615546],
 [1662350511028, 19896.14394975393],
 [1662354087346, 19899.445698298885],
 [1662357679997, 19727.17937456354],
 [1662361297881, 19787.135398638195]]

In [41]:
#se puede ver los datos capturados de la diccionario de los precios del BitCoin
data = pd.DataFrame(bitcoin_price_data, columns=['TimeStamp', 'Price'])
data

         TimeStamp         Price
0    1662346941176  19862.157765
1    1662350511028  19896.143950
2    1662354087346  19899.445698
3    1662357679997  19727.179375
4    1662361297881  19787.135399
..             ...           ...
717  1664924476553  20281.613594
718  1664928013649  20345.398520
719  1664931617018  20190.037040
720  1664935259054  20244.144201
721  1664938980000  20199.285529

[722 rows x 2 columns]

#Badge conseguido
![python-for-data-science.png]()