<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-luisnegronnaldos/blob/main/A01793865_Luis_Negron_Semana1%2C2y3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## A01793865 - LUIS NEGRON NALDOS

## **MODULO 1**

In [ ]:
print("Hello World")

Hello World

In [ ]:
print(int("1"))
print(bool("1"))

1
True

In [ ]:
Letters="ABCDEFGHIJK"
Letters[0:4]

'ABCD'

In [ ]:
Good="GsoAo+d"
Good[::2]

'Good'

In [ ]:
"uppercase"
"uppercase".upper()

'UPPERCASE'

In [ ]:
Name = "Michael Jackson"
Name = Name + "is the best"

In [ ]:
Name

'Michael Jacksonis the best'

In [ ]:
print ("Michael Jackson \n is the best")

Michael Jackson
 is the best

In [ ]:
print ("Michael Jackson \t is the best")

Michael Jackson 	 is the best

In [ ]:
A = "Thriller is the best"
B = A.replace ("Thriller", "Michael")
B

'Michael is the best'

In [ ]:
'1' + '2'

'12'

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("Hello\nWorld")

Hello
World

In [ ]:
# this is a comment

In [ ]:
type("Hello World")

str

In [ ]:
type("1.1")

str

In [ ]:
print(int("1"))
print(bool("1"))

1
True

## **MODULO 2**

In [ ]:
Ratings = (10, 9, 8 , 7, 5, 7, 6, 8 ,9)

In [ ]:
tuple1 = ( "disco", 10, 1.2)
tuple1[1]

10

In [ ]:
tuple1 = ( "disco", 10, 1.2)
tuple1[-2]

10

In [ ]:
tuple2= ("disco", 10, 1.2, "hard rock", 10)
tuple2[0:3]

('disco', 10, 1.2)

In [ ]:
ratings1 = Ratings

In [ ]:
ratingsorted = sorted(Ratings)
ratingsorted

[5, 6, 7, 7, 8, 8, 9, 9, 10]

In [ ]:
NT = (1,2,("pop", "rock"), (3,4), ("disco", 2, 3))
NT[2][1]

'rock'

In [ ]:
list = ["michael jackson", 10.2, 1982,2,3,4]
list[0]
list[3:5]

[2, 3]

In [ ]:
L= list + [3, 4]
L

['michael jackson', 10.2, 1982, 2, 3, 4, 3, 4]

In [ ]:
L.extend([10,20])
L

['michael jackson', 10.2, 1982, 2, 3, 4, 3, 4, 10, 20]

In [ ]:
A=["disco", 10, 1.2]
A[0] = "hard rock"
A

['hard rock', 10, 1.2]

In [ ]:
del(A[0])
A

[10, 1.2]

In [ ]:
B= A
B

[10, 1.2]

In [ ]:
B[0]= "banana"
A

['banana', 1.2]

In [ ]:
set= {"pop", "rock", "salsa", "pop", "metal", "pop", "salsa"}
set

{'metal', 'pop', 'rock', 'salsa'}

In [ ]:
A={"thriller", "Black in back", "AC/DC"}
A.add("NYNC")
A

{'AC/DC', 'Black in back', 'NYNC', 'thriller'}

In [ ]:
A.remove("AC/DC")
A

{'Black in back', 'NYNC', 'thriller'}

In [ ]:
"Who" in A

False

In [ ]:
B ={"NYNC", 5, "thriller"}
set3 = A&B
set3

{'NYNC', 'thriller'}

In [ ]:
dict = {"thriller":1982, "Back in Black":1980, "Thew dark side of the moon": 1973, "the bodyguard": 1992}
dict

{'thriller': 1982,
 'Back in Black': 1980,
 'Thew dark side of the moon': 1973,
 'the bodyguard': 1992}

In [ ]:
dict["thriller"]

1982

In [ ]:
dict['peru']='2020'
dict

{'Back in Black': 1980,
 'Thew dark side of the moon': 1973,
 'the bodyguard': 1992,
 'peru': '2020'}

In [ ]:
del(dict['thriller'])
dict

{'Back in Black': 1980,
 'Thew dark side of the moon': 1973,
 'the bodyguard': 1992}

## MODULO 3

In [ ]:
a= 6
a==7

False

In [ ]:
a>5

True

In [ ]:
a<6

False

In [ ]:
a!=6

False

In [ ]:
age = 17
if (age>18):
  print("Entra al concierto")
print ("No entra al concierto")

No entra al concierto

In [ ]:
age = 17
if (age>18):
  print("Entra al concierto")
else:
  print("se va a cenar")

print ("Sigue caminando")

se va a cenar
Sigue caminando

In [ ]:
age = 18 
if (age>18):
  print("Entra al concierto")
elif(age==18):
  print("Va al otro concierto")
else:
  print("se va a cenar")

print ("Sigue caminando")

Va al otro concierto
Sigue caminando

In [ ]:
squares = ["red", "yellow","green","blue","purple"]
for i in range(0,5):
  squares[i]="black"

squares

['black', 'black', 'black', 'black', 'black']

In [ ]:
squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Antes ", i, 'es',  squares[i])
    squares[i] = 'white'
    print("Despues ", i, 'es',  squares[i])

Antes  0 es red
Despues  0 es white
Antes  1 es yellow
Despues  1 es white
Antes  2 es green
Despues  2 es white
Antes  3 es purple
Despues  3 es white
Antes  4 es blue
Despues  4 es white

In [ ]:
album_rating = [10.0, 8.5, 5.8, 7.2, 9.0, 9.5]
L= len(album_rating)
L

6

In [ ]:
dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

In [ ]:
s = sum(album_rating)
s

50.0

In [ ]:
sorted_album = sorted(album_rating)
album_rating

[10.0, 8.5, 5.8, 7.2, 9.0, 9.5]

In [ ]:
sorted_album

[5.8, 7.2, 8.5, 9.0, 9.5, 10.0]

In [ ]:
album_rating.sort()
album_rating

[5.8, 7.2, 8.5, 9.0, 9.5, 10.0]

In [ ]:
def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print(a, "Si tu agregas uno, es:", b)
    return(b)

In [ ]:
add(1)

1 Si tu agregas uno, es: 2

2

In [ ]:
add(3)

3 Si tu agregas uno, es: 4

4

In [ ]:
def Mult(a, b):
    c = a * b
    return(c)
    
result = Mult(12,2)
print(result)

24

In [ ]:
Mult(10.0, 3.14)

31.400000000000002

In [ ]:
a1 = 4
b1 = 5
c1 = a1 + b1 + 2 * a1 * b1 - 1
if(c1 < 0):
    c1 = 0 
else:
    c1 = 5
c1

5

In [ ]:
type([1,2,3])

list

In [ ]:
type("the cat is yellow")

str

In [ ]:
type(1)

int

In [ ]:
rating =[7,5,4,8,9,5,10,9,5,9]

In [ ]:
rating.sort()
rating

[4, 5, 5, 5, 7, 8, 9, 9, 9, 10]

In [ ]:
rating.reverse()
rating

[10, 9, 9, 9, 8, 7, 5, 5, 5, 4]

In [ ]:
class circle(object):
  def _init_(self,radius,color):
    self.radius = radius;
    self.color = color;

In [ ]:
class Circle(object):
    
    # Constructor
    def __init__(self, radius=3, color='blue'):
        self.radius = radius
        self.color = color 
    
    # Method
    def add_radius(self, r):
        self.radius = self.radius + r
        return(self.radius)
    
    # Method
    def drawCircle(self):
        plt.gca().add_patch(plt.Circle((0, 0), radius=self.radius, fc=self.color))
        plt.axis('scaled')
        plt.show()

##MODULO 4

**Lectura de Archivos**

In [13]:
# tomado del laboratorio para importar el archivo de ejemplo del video
import urllib.request
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
filename = 'Example1.txt'
urllib.request.urlretrieve(url, filename)

## Download Example file
!wget -O /resources/data/Example1.txt https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt

/resources/data/Example1.txt: No such file or directory

In [14]:
example1 = "Example1.txt"
archivo = open(example1, "r")
#se utiliza el comendo "r" para identificar que vamoa a abrir el archivo

In [15]:
archivo.mode
#con lo extensión podemos ver en que modo esta.... sale r, porque esta en lectura...

'r'

In [16]:
archivo.name

'Example1.txt'

In [17]:
contenido = archivo.read()
print (contenido)

This is line 1
This is line 2
This is line 3

In [18]:
# Otra forma de abrir los arhivos 
with open(example1, "r") as archivo:
    contenido = archivo.read()
    print(contenido)

This is line 1
This is line 2
This is line 3

In [19]:
# En esta linea estoy verificando que el archivo ha sido cerrado
archivo.closed

True

In [23]:
with open(example1, "r") as archivo:
    print(archivo.read(4))
    print(archivo.read(4))
    print(archivo.read(10))
    print(archivo.read(19))

This
 is
line 1
Th
is is line 2
This i

**Escritura de Archivos**

In [15]:
# Código para abrir un archivo en modo escritura
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A") #ojo solo permite un argumento

In [16]:
exmp2
print(exmp2)

Example2.txt

In [17]:
#Podemos verificar si el texto se ha escrito:
with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [18]:
exmp3 = 'Example3.txt'
with open(exmp3, 'w') as writefile:
    writefile.write("Esta es la linea A\n")
    writefile.write("Esta es la linea B\n")

In [19]:
with open(exmp3, 'r') as testwritefile:
    print(testwritefile.read())

Esta es la linea A
Esta es la linea B

In [25]:
Lineas = ["This is line A\n", "This is line B\n", "This is line C\n", "Agregando una", "sin espacio"]
Lineas # se ha creado una secuencia de tres lineas para escribir un archivo.

['This is line A\n',
 'This is line B\n',
 'This is line C\n',
 'Agregando una',
 'sin espacio']

In [26]:
#Con este secuencia de comandos, verificamos lo que se ha guardado
with open('Example2.txt', 'w') as writefile:
    for line in Lineas:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

Agregando una
sin espacio

**Cargando Archivos con Panda**

In [28]:
import pandas as pd

In [30]:
!pip install xlrd #instalando lo recomendado por en el ambiente del laboratorio.

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)

In [32]:
csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
df = pd.read_csv(csv_path) #cargando la base de datos del caso de estudio
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [34]:
df.head(n=10) #cuando se usa el N=10 se muestran 10 registros en vez de 5 cuando esta en blanco

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0
5,Eagles,Their Greatest Hits (1971-1975),1976,0:43:08,"rock, soft rock, folk rock",32.2,42,17-Feb-76,NaN,7.5
6,Bee Gees,Saturday Night Fever,1977,1:15:54,disco,20.6,40,15-Nov-77,Y,7.0
7,Fleetwood Mac,Rumours,1977,0:40:01,soft rock,27.9,40,04-Feb-77,NaN,6.5

In [38]:
x = df[['Album']]
x # de esta manera se puede ver una columna en específico

                             Album
0                         Thriller
1                    Back in Black
2        The Dark Side of the Moon
3                    The Bodyguard
4                  Bat Out of Hell
5  Their Greatest Hits (1971-1975)
6             Saturday Night Fever
7                          Rumours

In [40]:
x = df[['Album','Genre']]
x

                             Album                        Genre
0                         Thriller               pop, rock, R&B
1                    Back in Black                    hard rock
2        The Dark Side of the Moon             progressive rock
3                    The Bodyguard               R&B, soul, pop
4                  Bat Out of Hell  hard rock, progressive rock
5  Their Greatest Hits (1971-1975)   rock, soft rock, folk rock
6             Saturday Night Fever                        disco
7                          Rumours                    soft rock

In [42]:
df.iloc[1,1]

'Back in Black'

In [43]:
df.iloc[2,2] #ojo que df sige siendo la base de datos principal

1973

In [45]:
df['Released'].unique()

array([1982, 1980, 1973, 1992, 1977, 1976])

In [46]:
df['Released']>= 1980

0     True
1     True
2    False
3     True
4    False
5    False
6    False
7    False
Name: Released, dtype: bool